version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    container_name: app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
      - ./php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    ports:
      - "9000:9000"
      - "9003:9003"
      - "5173:5173"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CLIENT_HOST: host.docker.internal
      XDEBUG_CLIENT_PORT: 9003
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: app-nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./app:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - appnet

  mysql:
    image: mysql:8.0
    container_name: my-mysql
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_ROOT_PASSWORD: examplepass
      MYSQL_ROOT_HOST: '%'
    ports:
      - '3306:3306'
    volumes:
      - mysql-volume:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mysql-volume:
    driver: local
